ul{
   list-style-type: none; 
   margin: 0;
   display: inline-block;

}
ul li{
   display: inline-block;
   border: 2px solid rgb(0, 0, 0);
   padding: 7px;
   margin: 15px;
}

#navbar {
   background-color: rgb(175, 180, 182);
   padding: 1px;
   font-size: 70%;
   line-height: 5px;
   padding-top: 5px;
}

#footer {
   background-color: rgb(175, 180, 182);
    border:0px solid rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
 }

body{
   margin: 0px;
}

a{
   color:black;
   text-decoration: black;
   font-weight: 600;
   font-family: 'Verdana';
}

img{
   display: inline-block;
   padding: 15px
}

.border{
   border: 1px solid black;
}

.logo{
   text-align: center;
   padding: 1px;
}

/*Estilos del Banner*/

/*Banner1*/
#banner-container{
   /*background: url("/banner.png");*/
   background: #fff url(/imagenes/banner1.jpg) center center/cover no-repeat content-box;opacity: 70%;
   
}

h1{
   font-size: 40px;
   padding: 10px 40px;
   margin: 5%;
   color: rgb(255, 255, 255);
   text-align: right;
}

#lead{
   padding: 10px 40px;
   margin: 10px;
   color: rgb(255, 255, 255);
   text-decoration: underline;
   text-align: right;
}

/*Banner 2*/

#banner-container2{
   position: relative;
   text-align: center;
   color: white;
}

.central{
   position: absolute;
   top: 55%;
   left: 45%;
   transform: (-50%, -50%);
}

#img2{ 
   opacity: 0.7;
   height: 50%;
   width: 30%;
}

.columnas{
   text-align: center;
   display: inline-block;
   border: 2px solid black;
   margin: 0 auto;
   width: 15%;
   padding: 5px;
}

.img2{
   text-align: center;
   width: 25%;
   height: 25%;
   }

#proyectos{
   text-align: center;
}


/*Estilos de Proyectos*/
/*comentario*/